<div class="container section-spacing">
    <div class="headings">
        <span class="text-muted">CONTRIBUTE</span>
        <h2 class="text-center">Share Your Park Discovery</h2>
        <div class="text-center mt-3">
            <a href="/campgrounds/new" class="btn btn-secondary btn-lg"
                >Add New Park</a
            >
        </div>
    </div>
</div>
