<div
    id="map-container"
    class="section-spacing"
    data-scroll
    data-scroll-speed="0.5"
>
    <div id="cluster-map"></div>
    <div id="map-error" class="alert alert-warning d-none" role="alert">
        There was an issue loading the map. This might be due to an ad blocker
        or security software.
    </div>
    <div id="map-warning" class="alert alert-warning d-none" role="alert">
        Some map features may be limited due to ad-blockers or privacy
        extensions. Please disable them for full functionality.
    </div>
</div>
<div class="container-custom">
    <div class="secondary-heading">
        <div class="mb-4">
            <h1 data-animate-heading>Featured Parks and</h1>
            <h1 data-animate-heading>Reserves</h1>
        </div>
        <p>
            From Gauja's ancient forests to Slītere's coastal dunes,
            <br />
            embark on your next Latvian adventure with our expert picks.
        </p>
    </div>
</div>
