<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Terrainly</h5>
                <p>Discover and share beautiful parks around Latvia.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Explore Parks</a></li>
                    <li><a href="/campgrounds/new">Create Park</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12">
                <p class="mb-0">&copy; 2024 Terrainly. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
