/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Root variables */
:root {
    --font-family: "Inter", sans-serif;
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: navy;
    --transition-speed: 0.3s;
    --border-radius: 0;
    --padding-button: 0.5rem 1rem;
}

/* Global styles */
body {
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    font-size: 3.5rem;
}

nav {
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Layout styles */
.container-custom {
    width: 90%;
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

.section-spacing {
    margin-bottom: 6rem;
}

/* Button styles */
.btn {
    padding: var(--padding-button);
    border-radius: var(--border-radius);
    transition: all var(--transition-speed) ease;
}

.btn-primary,
.btn-secondary {
    border: 1px solid var(--primary-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color) !important;
}

.btn-outline-dark {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color) !important;
}

.btn-outline-dark:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
}

.register-btn {
    padding: var(--padding-button);
    border: 1px solid var(--priry-color);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    transition: all var(--transition-speed) ease;
}

.register-btn:hover {
    color: var(--secondary-color);
}

/* Map styles */
#cluster-map {
    width: 100%;
    height: 500px;
    max-width: 1670px;
    height: 800px;
    margin: 0 auto;
    border-radius: 10px;
}

#map {
    width: 100%;
    height: 400px;
}

/* Hero section styles */
#hero-section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.hero-content {
    text-align: center;
    color: white;
    z-index: 1;
}

/* Content styles */
main,
.content {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 25vh);
    overflow: visible;
    flex: 1 0 auto;
}

.bottom-left-content {
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: left;
    max-width: 90%;
    color: white;
}

.text-muted {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.text-center {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 800px;
    line-height: 60px;
}

.text-paragraph {
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-align: center;
    width: 100%;
    max-width: 600px;
    line-height: 18px;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.secondary-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.secondary-heading h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}

/* Popular parks styles */
.popular-parks-container {
    width: 100%;
    overflow: hidden;
    padding: 1.5rem 0;
}

.popular-park-card {
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.popular-parks-scroll {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.popular-parks-scroll::-webkit-scrollbar {
    display: none;
}

.popular-park-card {
    flex: 1;
    max-width: calc(50% - 10px);
    width: 100%;
    margin-right: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid grey;
}

.popular-park-card .lazy-image-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.popular-park-info {
    padding: 15px;
}

.popular-park-info h3 {
    margin-bottom: 10px;
}

.popular-park-info p {
    color: #666;
    margin-bottom: 15px;
}

.popular-parks-scroll.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

/* Card styles */
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-container {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

/* Badge styles */
.badge {
    font-size: 0.9rem;
    background-color: #000;
    color: #fff;
}

/* Pagination styles */
.pagination .page-link {
    color: black;
}

.pagination .page-item.active .page-link {
    background-color: black;
    border-color: black;
    color: white;
}

.pagination .page-link:hover {
    color: #333;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/* Lazy loading image styles */
.lazy-image-container {
    position: relative;
    overflow: hidden;
}

.lazy-image {
    transition: opacity 0.5s;
    opacity: 0;
}

.lazy-image.loaded {
    opacity: 1;
}

.lazy-image-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform: scale(1.1);
    transition: opacity 0.5s;
}

/* Mapbox custom popup styles */
.custom-popup {
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0;
    max-width: 400px;
}

.custom-popup .mapboxgl-popup-content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
}

.custom-popup .mapboxgl-popup-close-button {
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #333;
    background: none;
    border: none;
}

.custom-popup h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.custom-popup p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.custom-popup .mapboxgl-popup-tip {
    border-top-color: rgba(255, 255, 255, 0.95);
    border-bottom-color: rgba(255, 255, 255, 0.95);
}

/* Navigation styles */
.static-nav header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transform: none !important;
}

.navbar-scrolled {
    background-color: white !important;
    transition: background-color 200ms linear;
}

.navbar {
    transition: background-color 0.3s ease;
    padding: 1rem 5.7rem;
}

/* Login styles */
.login-container {
    max-width: 900px;
    margin: 50px auto;
}

.login-form {
    background-color: white;
    padding: 40px;
}

.login-image {
    background-image: url("https://res.cloudinary.com/drvf1bwps/image/upload/v1728254178/YelpCamp/krisjanis-kazaks-PxYUXDHA1u4-unsplash_i7ojgs.webp");
    background-size: cover;
    background-position: center;
    min-height: 600px;
    border-radius: 10px;
}

.terrainly-text {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-left: 5px;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Image styles */
.image-container {
    height: 300px;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.carousel-image {
    max-height: 400px;
    object-fit: cover;
}

/* Map container */
.map-container {
    height: 300px;
}

/* Review textarea */
.review-textarea {
    max-length: 100;
}

/* Footer styles */
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer h5 {
    color: #333;
    margin-bottom: 15px;
}

.footer p {
    color: #444;
    font-size: 1rem;
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer a {
    color: #6c757d;
    text-decoration: none;
}

.footer a:hover {
    color: #000;
}

.footer .list-inline-item {
    margin-right: 15px;
}

.footer .list-inline-item:last-child {
    margin-right: 0;
}

.footer hr {
    margin: 20px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container-custom {
        width: 100%;
        padding: 0 15px;
    }

    .section-spacing {
        margin-bottom: 2rem;
    }

    .headings {
        padding: 0.5rem;
    }

    .secondary-heading {
        margin-bottom: 2rem;
        margin-top: 0.5rem;
    }

    .text-center {
        margin-bottom: 0.5rem;
        line-height: 1.2;
    }

    .text-paragraph {
        margin-bottom: 1rem;
    }

    #cluster-map {
        width: 95%;
        height: 300px;
        margin-bottom: 1rem;
    }

    .popular-parks-container {
        padding: 0.75rem 0;
    }

    .card {
        margin-bottom: 1rem;
    }

    .bottom-left-content {
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }

    .popular-parks-scroll {
        flex-direction: column;
        align-items: center;
    }

    .popular-park-card {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .popular-park-card .lazy-image-container img {
        height: 300px;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 1rem 0re;
    }

    .navbar-nav {
        margin-top: 1rem;
    }

    .navbar-nav .nav-item {
        margin-bottom: 0.5rem;
    }

    .navbar-nav .btn {
        width: 100%;
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-collapse {
        margin-top: 1rem;
    }

    .footer {
        text-align: center;
    }
}
.card:hover {
    transform: none !important;
    box-shadow: none !important;
}

.btn-danger {
    width: 100%;
}
