/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
    font-family: Inter, sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.cover-container {
    max-width: 60vw;
}

/* Bottom left content styles */
.bottom-left-content {
    position: fixed;
    bottom: 5%;
    left: 5%;
    text-align: left;
    max-width: 90%;
}

@media (max-width: 768px) {
    .bottom-left-content {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 90%;
    }
}
